<div class="bg-info">
  <div class="row bg-primary">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-white"> <h1 class="display-1 text-center">Biblioteca Setorial</h1> </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row bg-danger">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-white"> <h1 class="display-1 text-center">Biblioteca Setorial</h1> </div>
    <div class="col-md-2"></div>
  </div>

  <div class="nav navbar navbar-fixed-bottom ">
    <div class="row bg-success">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-white"> <h1 class="display-1 text-center">Biblioteca Setorial</h1> </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
