.navegation {
  margin: auto;
  width: 100%;
  height: 1cm;
}

.navegation-item {
  width: 10%;
  text-color: white;
  background-color: black;
}

.navegation-image {
  width: 15%;
  background-color: black;
}

.button-row {
  background-color: black;
  text-color: white;
  display: flex;
  align-items: center;
}
