<div class="row navegation">
  <div class="witdh-left"></div>
  <div class="btn-group witdh-center" data-toggle="buttons">
    <button type="button" class="btn btn-outline-primary witdh-item">Home1</button>
    <button type="button" class="btn btn-outline-primary witdh-item">Home2</button>
    <button type="button" class="btn btn-outline-primary witdh-item">Home3</button>
    <button type="button" class="btn btn-outline-primary witdh-item">Home4</button>
  </div>
  <div class="witdh-right"></div>
</div>
